<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error...</title>
</head>

<body>
    <p>@ViewBag.Message</p>
    <a asp-action="LoginIndex">ReLogin Again</a>
</body>

</html>
